flows/Clever_Contacts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contact_Deduplicate</name>
        <label>Contact Deduplicate</label>
        <locationX>978</locationX>
        <locationY>714</locationY>
        <actionName>DeduplicateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Contact_With_New_Values</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sObjects</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sObjects</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Member_Status</name>
        <label>Update Member Status</label>
        <locationX>1847</locationX>
        <locationY>712</locationY>
        <actionName>UpdateCampaignMemberStatusInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>custom010_Yes_or_No</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>memberId</name>
            <value>
                <elementReference>campaignMemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Contact_With_New_Values</name>
        <label>Assign Contact With New Values</label>
        <locationX>1101</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactNewFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactNewLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactNewEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.npe01__WorkPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactNewWorkPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactNewAddress1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactNewSuburb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactNewPostcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactNewState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactNewMiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactNewHomePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactNewBirthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactNewMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactNewTitle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_update_Reccuring</name>
        <label>Assignment update Reccuring</label>
        <locationX>2269</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>recurring.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reccuring_Donate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurring.npe03__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpDate_Reccuring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Assignment_To_Deduplicate</name>
        <label>Contact Assignment To Deduplicate</label>
        <locationX>842</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactEmail1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactWorkPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactAddress1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactSuburb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactPostcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactMiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactHomePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactBirthdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Deduplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Assigment</name>
        <label>Output Assigment</label>
        <locationX>2836</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurring.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Output_Error</name>
        <label>Output Error</label>
        <locationX>2062</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Recurring_Donation_Assigment</name>
        <label>Recurring Donation Assigment</label>
        <locationX>2203</locationX>
        <locationY>783</locationY>
        <assignmentItems>
            <assignToReference>recurring.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurring.npe03__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurring.npsp__InstallmentFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringFrequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurring.npe03__Date_Established__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDateEstablished</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurring.npsp__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurring.npe03__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurring.npsp__RecurringType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurring.npe03__Installment_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDebitPeriod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurring.npe03__Recurring_Donation_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurring.npsp_plus__Stripe_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeSubscriptionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurring.npsp__Day_of_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDayOfMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Recurring</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Decision</name>
        <label>Contact Decision</label>
        <locationX>1233</locationX>
        <locationY>718</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Id is NULL</defaultConnectorLabel>
        <rules>
            <name>Contact_has_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Contact has Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>custom010_Yes_or_No</name>
        <label>custom010 Yes or No</label>
        <locationX>1982</locationX>
        <locationY>714</locationY>
        <defaultConnector>
            <targetReference>Recurring_Donation_Assigment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>donationCustom010</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reccuring_Donate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Clever Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clever Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>1631</locationX>
        <locationY>636</locationY>
        <assignRecordIdToReference>campaignMemberId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Member_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRIMARY_Call_Status__c</field>
            <value>
                <elementReference>memberPRIMARYCallStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_DESCRIPTION_Call_Status__c</field>
            <value>
                <elementReference>memberPhoneDESCRIPTIONCallStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_SECONDARY_Call_Status__c</field>
            <value>
                <elementReference>memberPhoneSECONDARYCallStatus</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1499</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>Create_Campaign_Member</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <inputReference>contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Recurring</name>
        <label>Create Recurring</label>
        <locationX>2343</locationX>
        <locationY>783</locationY>
        <connector>
            <targetReference>Get_Donation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <inputReference>recurring</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>704</locationX>
        <locationY>714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Assignment_To_Deduplicate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>1576</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>campaignMemberId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Donation</name>
        <label>Get Donation</label>
        <locationX>2560</locationX>
        <locationY>711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pledged</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>2683</locationX>
        <locationY>711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Output_Assigment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Donation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reccuring_Donate</name>
        <label>Get Reccuring Donate</label>
        <locationX>2138</locationX>
        <locationY>627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_update_Reccuring</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe03__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe03__Recurring_Donation__c</object>
        <sortField>npsp__StartDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Member</name>
        <label>Update Campaign Member</label>
        <locationX>1711</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Update_Member_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignMemberId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PRIMARY_Call_Status__c</field>
            <value>
                <elementReference>memberPRIMARYCallStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_DESCRIPTION_Call_Status__c</field>
            <value>
                <elementReference>memberPhoneDESCRIPTIONCallStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_SECONDARY_Call_Status__c</field>
            <value>
                <elementReference>memberPhoneSECONDARYCallStatus</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1441</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <inputReference>contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpDate_Reccuring</name>
        <label>UpDate Reccuring</label>
        <locationX>2406</locationX>
        <locationY>627</locationY>
        <connector>
            <targetReference>Get_Donation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <inputReference>recurring</inputReference>
    </recordUpdates>
    <start>
        <locationX>701</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>campaignMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactAddress1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactAddress2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactAddress3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactBirthdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactHomePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactMiddleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewAddress1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewAddress2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewAddress3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewBirthdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewHomePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewMiddleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewMobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewSuburb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNewWorkPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPosition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactSuburb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactURN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactWorkPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>donationCustom010</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationDebitDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>donationPaymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>memberPhoneDESCRIPTIONCallStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>RG CC Immediate</stringValue>
        </value>
    </variables>
    <variables>
        <name>memberPhoneSECONDARYCallStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CI</stringValue>
        </value>
    </variables>
    <variables>
        <name>memberPRIMARYCallStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>YS</stringValue>
        </value>
    </variables>
    <variables>
        <name>organisation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>paymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paypalTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recurring</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>recurringAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recurringDateEstablished</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>recurringDayOfMonth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringDebitPeriod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringFrequency</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recurringId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recurringName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>recurringType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripePaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
