flows/createLead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Lead_Assignment</name>
        <label>Lead Assignment</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadLocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadPostcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Number_of_people__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadNumberOfPeople</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Age_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAgeGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Breed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalBreed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalLocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Where_To_Find__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadWhereToFind</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_RON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalRON</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Opening_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadOpeningHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Image_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadImageSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Character_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalCharacterDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalAge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Sex__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalSex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalSize</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalColour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Shelter_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalShelterName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Shelter_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalShelterPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Shelter_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalShelterEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Shelter_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalShelterState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Shelter_Suburb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalShelterSuburb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Shelter_Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalShelterPostcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Shelter_Address_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalShelterAddress1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Animal_Shelter_Address_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnimalShelterAddress2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Microchip_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadMicrochipNo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Has_MIcrochip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadHasMIcrochip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Long_Term_Pet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadLongTermPet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Special_Needs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadSpecialNeeds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Date_of_birth_utc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadDateofbirthutc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Primary_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadPrimaryColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Secondary_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadSecondaryColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Breed_Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadBreedPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Breed_Secondary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadBreedSecondary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Is_Vaccinated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadIsVaccinated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Desexing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadDesexing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Do_you_have_any_pets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadDoYouHaveAnyPets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Tell_us_about_your_pets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadTellUsAboutYourPets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Tell_us_about_yourself__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadTellUsAboutYourself</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Upload_a_photo_of_your_pet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadUploadaPhotoOfYourPet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Upload_a_photo_of_yourself__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadUploadaPhotoOfYourself</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Most_Passionate_Issues__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadMostPassionateIssues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Facebook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadFacebook</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Instagram__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadInstagram</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Twitter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadTwitter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Youtube__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadYoutube</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Snapchat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadSnapchat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadWebsite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Have_Been_Brands_Ambassador__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadHaveBeenBrandsAmbassador</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Which_Brands_Ambassador_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadWhichBrandsAmbassadorFor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Anything_Else_To_Share__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnythingElseToShare</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Date_of_Corporate_Support_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadDateofCorporateSupportDay</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Enjoy_CSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadEnjoyCSD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Agree_With_Information_About_CSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAgreeWithInformationAboutCSD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Staff_Experience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadStaffExperience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Anything_Else_To_Know_About_CSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnythingElseToKnowAboutCSD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Shelter_Be_Visiting_For_CSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadShelterBeVisitingForCSD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Understand_Participant_Expectations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadUnderstandParticipantExpectations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Understand_What_To_Wear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadUnderstandWhatToWear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Know_How_To_Get_To_Shelter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadKnowHowToGetToShelter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Unsertand_Animal_Handling_Guidelines__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadUnsertandAnimalHandlingGuidelines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Children_Under_18_Living_At_Home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadChildrenUnder18LivingAtHome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Any_Pets_Living_At_Home__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnyPetsLivingAtHome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Lifestyle_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadLifestyleDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Previous_Pet_Experience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadPreviousPetExperience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Other_Relevant_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadOtherRelevantInformation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.How_Did_You_Hear_About_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadHowDidYouHearAboutEverAfterProgram</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Prefered_Contact_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadPreferedContactMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Anything_Else_To_Know_About_CSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAnythingElseToKnow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Requesting_Assistance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadRequestingAssistance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Did_you_have_any_ideas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadDidyouhaveanyideas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Date_of_Corporate_Support_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadDateofCorporateSupportDay</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Education_session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadEducationSession</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Maintenance_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadMaintenanceProject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Shelter_and_veterinary_tour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadShelterAndVeterinaryTour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Spending_time_with_animals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadSpendingTimeWithAnimals</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Im_officially_excited__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadImOfficiallyExcited</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Please_list_any_medical_conditions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PleaseListAnyMedicalConditions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Terms_and_conditions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadTermsAndConditions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Please_tell_us_about_them__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadPleaseTellUsAboutThem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Please_tell_us_about_them__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadPleasetellusaboutyourpreviouspetexperience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Email_my_information_booklet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadEmailMyInformationBooklet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Post_my_information_booklet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadPostMyInformationBooklet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Please_call_me__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadPleaseCallMe</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Number_of_attendants__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfAttendants</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Preferred_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadPreferredDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Preferred_Date_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadPreferredDate2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Preferred_Date_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadPreferredDate3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Preferred_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadPreferredTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.How_did_you_hear_about_us__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadHowFidYouHearAboutUs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadOther</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Is_there_anything_else_we_should_know__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadIsThereAnythingElseWeShouldKnow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.What_stage_best_applies_to_your_group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadWhatStageBestAppliesToYourGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Topic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadTopic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Additional_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadAdditionalInformation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.How_were_you_thinking_of_celebrating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadHowWereYouThinkingOfCelebrating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RSPCA NSW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputReference>lead</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnimalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateofBirth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadAdditionalInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAgeGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAgreeWithInformationAboutCSD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalAge</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalBreed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalCharacterDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalColour</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalRON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalSex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalShelterAddress1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalShelterAddress2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalShelterEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalShelterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalShelterPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalShelterPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalShelterState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalShelterSuburb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalSize</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnimalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnyPetsLivingAtHome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnythingElseToKnow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnythingElseToKnowAboutCSD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadAnythingElseToShare</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadBreedPrimary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadBreedSecondary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadChildrenUnder18LivingAtHome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadCost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadDateofbirthutc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadDateofCorporateSupportDay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadDesexing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadDidyouhaveanyideas</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadDoYouHaveAnyPets</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadEducationSession</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadEmailMyInformationBooklet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadEnjoyCSD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadFacebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadHasMIcrochip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadHaveBeenBrandsAmbassador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadHowDidYouHearAboutEverAfterProgram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadHowFidYouHearAboutUs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadHowWereYouThinkingOfCelebrating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadImageSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadImOfficiallyExcited</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadInstagram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadIsThereAnythingElseWeShouldKnow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadIsVaccinated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadKnowHowToGetToShelter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadLifestyleDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadLongTermPet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadMaintenanceProject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadMicrochipNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadMostPassionateIssues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadNumberOfPeople</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadOpeningHours</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadOtherRelevantInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadPleaseCallMe</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadPleaseTellUsAboutThem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadPleasetellusaboutyourpreviouspetexperience</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadPostMyInformationBooklet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadPreferedContactMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadPreferredDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadPreferredDate2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadPreferredDate3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadPreferredTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadPreviousPetExperience</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadPrimaryColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadRequestingAssistance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadSecondaryColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadShelterAndVeterinaryTour</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadShelterBeVisitingForCSD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadSnapchat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Web</stringValue>
        </value>
    </variables>
    <variables>
        <name>leadSpecialNeeds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadSpendingTimeWithAnimals</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadStaffExperience</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadStreetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadSuburb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadTellUsAboutYourPets</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadTellUsAboutYourself</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadTermsAndConditions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadTopic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadTwitter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadUnderstandParticipantExpectations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadUnderstandWhatToWear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadUnsertandAnimalHandlingGuidelines</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadUploadaPhotoOfYourPet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadUploadaPhotoOfYourself</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadWebsite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadWhatStageBestAppliesToYourGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadWhereToFind</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadWhichBrandsAmbassadorFor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadYoutube</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfAttendants</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PleaseListAnyMedicalConditions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
