flows/Create_Payment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Payment_Assigment_PayPal</name>
        <label>Payment Assigment PayPal</label>
        <locationX>616</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>payment.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_payment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.PayPal_Transation_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paypalTransactionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.npsp_plus__Payment_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Assigment_Stripe</name>
        <label>Payment Assigment Stripe</label>
        <locationX>607</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>payment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_payment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.Stripe_Transaction_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeTransactionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.npsp_plus__Payment_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_Payment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>TransactionId</name>
        <label>TransactionId</label>
        <locationX>336</locationX>
        <locationY>412</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PayPal_Transation_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paypalTransactionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>stripeTransactionId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Assigment_PayPal</targetReference>
            </connector>
            <label>PayPal Transation Id</label>
        </rules>
        <rules>
            <name>Stripe_Transaction_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stripeTransactionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>paypalTransactionId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Assigment_Stripe</targetReference>
            </connector>
            <label>Stripe Transaction Id</label>
        </rules>
    </decisions>
    <interviewLabel>Create Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_payment</name>
        <label>Get payment</label>
        <locationX>204</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TransactionId</targetReference>
        </connector>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>donationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_Payment</name>
        <label>Update Records Payment</label>
        <locationX>803</locationX>
        <locationY>428</locationY>
        <inputReference>payment</inputReference>
    </recordUpdates>
    <start>
        <locationX>76</locationX>
        <locationY>227</locationY>
        <connector>
            <targetReference>Get_payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>paymentFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>paypalTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
