flows/CreateOrganisation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Organlsation_Duplicate</name>
        <label>Organlsation Duplicate</label>
        <locationX>638</locationX>
        <locationY>731</locationY>
        <actionName>DeduplicateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Organisation_Decision</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sObjects</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sObjects</name>
            <value>
                <elementReference>organisation</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Organisation_Assigment</name>
        <label>Organisation Assigment</label>
        <locationX>500</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>organisation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationZIP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationWebsite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Organlsation_Duplicate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Organisation_Decision</name>
        <label>Organisation Decision</label>
        <locationX>776</locationX>
        <locationY>733</locationY>
        <defaultConnector>
            <targetReference>Create_Organistion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Organisation id is null</defaultConnectorLabel>
        <rules>
            <name>Organisation_Has_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>organisation.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Organisation</targetReference>
            </connector>
            <label>Organisation Has Id</label>
        </rules>
    </decisions>
    <interviewLabel>CreateOrganisation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Organisation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Organistion</name>
        <label>Create Organistion</label>
        <locationX>1041</locationX>
        <locationY>642</locationY>
        <inputReference>organisation</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Organisation</name>
        <label>Update Organisation</label>
        <locationX>1034</locationX>
        <locationY>813</locationY>
        <inputReference>organisation</inputReference>
    </recordUpdates>
    <start>
        <locationX>374</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>Organisation_Assigment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>donation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>organisation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>organisationCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>organisationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationWebsite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationZIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
</Flow>
