flows/Create_Split_Payment_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assignment_Donation</name>
        <label>Assignment Donation</label>
        <locationX>739</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>donation.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Donation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Split_Payment_Opportunity</name>
        <label>Assignment Split Payment Opportunity</label>
        <locationX>238</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plusAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Split_Payment_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Split_Payment_Opportunity_Id</name>
        <label>Assignment Split Payment Opportunity Id</label>
        <locationX>533</locationX>
        <locationY>2099</locationY>
        <assignmentItems>
            <assignToReference>splitPaymentOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Gift_Assignment</name>
        <label>Gift Assignment</label>
        <locationX>755</locationX>
        <locationY>1911</locationY>
        <assignmentItems>
            <assignToReference>gift.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>giftId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gift.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Gift_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Error</name>
        <label>Output Error</label>
        <locationX>1716</locationX>
        <locationY>1186</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Payment_Opportunity_Assigment</name>
        <label>Split Payment Opportunity Assigment</label>
        <locationX>525</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plusAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Split_Payment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.Receipt_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3228</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.UTM_Ad_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmAdContent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmMedium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmCampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.Test_Variant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmTestVariant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.npsp__Acknowledgment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>acknowledgmentStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.UTM_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentOpportunity.Primary_Campaign_Source_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Amount_Donation_Null</name>
        <label>Amount Donation (Null)</label>
        <locationX>514</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>ID_Was_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>giftAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Donation_ID_Was_Set</name>
        <label>Donation ID Was Set ?</label>
        <locationX>524</locationX>
        <locationY>1551</locationY>
        <defaultConnector>
            <targetReference>Gift_ID_Was_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>donationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>donationId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Donation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gift_ID_Was_Set</name>
        <label>Gift ID Was Set ?</label>
        <locationX>525</locationX>
        <locationY>1908</locationY>
        <defaultConnector>
            <targetReference>Assignment_Split_Payment_Opportunity_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>giftId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>giftId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gift_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ID_Was_Set</name>
        <label>ID Was Set</label>
        <locationX>513</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>Get_Split_Payment_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>splitPaymentOpportunityId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>acknowledgmentStatus</name>
        <dataType>String</dataType>
        <expression>IF ({!donationStage}=&quot;Closed Won&quot;, &quot;Email Acknowledgment Now&quot;, null)</expression>
    </formulas>
    <formulas>
        <name>plusAmount</name>
        <dataType>Currency</dataType>
        <expression> {!giftAmount}+{!donationAmount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Split Payment Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Split Payment Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_Opportunity</name>
        <label>Create Split Payment Opportunity</label>
        <locationX>527</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>Donation_ID_Was_Set</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <inputReference>PaymentOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type_Donation_Recurring</name>
        <label>Get Record Type Donation Recurring</label>
        <locationX>2235</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Split_Payment</name>
        <label>Get Record Type Split Payment</label>
        <locationX>527</locationX>
        <locationY>1072</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Opportunity_Assigment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Output_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Split_Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Split_Payment_Opportunity</name>
        <label>Get Split Payment Opportunity</label>
        <locationX>358</locationX>
        <locationY>472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Split_Payment_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>splitPaymentOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>splitPaymentOpportunityAmount</assignToReference>
            <field>Amount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PaymentOpportunity.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Split_Payment_Opportunity</name>
        <label>Update Split Payment Opportunity</label>
        <locationX>89</locationX>
        <locationY>472</locationY>
        <inputReference>PaymentOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Donation</name>
        <label>Updated Donation</label>
        <locationX>739</locationX>
        <locationY>1733</locationY>
        <connector>
            <targetReference>Gift_ID_Was_Set</targetReference>
        </connector>
        <inputReference>donation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Gift_Opportunity</name>
        <label>Updated Gift Opportunity</label>
        <locationX>755</locationX>
        <locationY>2093</locationY>
        <connector>
            <targetReference>Assignment_Split_Payment_Opportunity_Id</targetReference>
        </connector>
        <inputReference>gift</inputReference>
    </recordUpdates>
    <start>
        <locationX>395</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Amount_Donation_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>525</locationX>
        <locationY>927</locationY>
        <connector>
            <targetReference>Get_Record_Type_Split_Payment</targetReference>
        </connector>
        <flowName>Get_Campaign</flowName>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>campaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserId</name>
            <value>
                <elementReference>campaignFundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserURL</name>
            <value>
                <elementReference>campaignFundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>parentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>campaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>donation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>donationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>donationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </variables>
    <variables>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>gift</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>giftAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>giftId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>paymentSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recuriingDonationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringDonation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>recurringDonationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recurringId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>splitPaymentOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>splitPaymentOpportunityAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>splitPaymentOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>utmAdContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmMedium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>text</stringValue>
        </value>
    </variables>
    <variables>
        <name>utmTestVariant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
