flows/fundraiserSignUp.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Campaign_Assigment_CCD</name>
        <label>Campaign Assigment CCD</label>
        <locationX>2324</locationX>
        <locationY>530</locationY>
        <assignmentItems>
            <assignToReference>campaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaignName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaignType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaignStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Campaing_Cup_Cake.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Fundraiser_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.npsp_plus__Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Campaign_Assigment_MPW</name>
        <label>Campaign Assigment MPW</label>
        <locationX>2317</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>campaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaignName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaignStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaing.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Fundraiser_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.npsp_plus__Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Assigment</name>
        <label>Output Assigment</label>
        <locationX>2670</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignOutPut</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaign.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Parent_Campaign</name>
        <label>Parent Campaign</label>
        <locationX>1866</locationX>
        <locationY>415</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Million_Paws_Walk_2020</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaingParent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MPW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaing</targetReference>
            </connector>
            <label>Million Paws Walk 2020</label>
        </rules>
        <rules>
            <name>Cup_Cake_Day_2020</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaingParent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Campaing_Cup_Cake</targetReference>
            </connector>
            <label>Cup Cake Day 2020</label>
        </rules>
    </decisions>
    <interviewLabel>Fundraiser Sign Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fundraiser Sign Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign</name>
        <label>Create Campaign</label>
        <locationX>2528</locationX>
        <locationY>420</locationY>
        <connector>
            <targetReference>Output_Assigment</targetReference>
        </connector>
        <inputReference>campaign</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaing</name>
        <label>Campaing Parent Million Paws Walk</label>
        <locationX>2168</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Assigment_MPW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Million Paws Walk</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Parent_Campaing_Cup_Cake</name>
        <label>Parent Campaing Cup Cake</label>
        <locationX>2172</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Assigment_CCD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cup Cake Day 2021</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1482</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>Create_Contact_Subflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Contact_Subflow</name>
        <label>Create Contact Subflow</label>
        <locationX>1613</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Parent_Campaign</targetReference>
        </connector>
        <flowName>Create_Contact</flowName>
        <inputAssignments>
            <name>contactCity</name>
            <value>
                <elementReference>contactCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactCountry</name>
            <value>
                <elementReference>contactCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactEmail</name>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactFirstName</name>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactLastName</name>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPhone</name>
            <value>
                <elementReference>contactPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPostalCode</name>
            <value>
                <elementReference>contactPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactState</name>
            <value>
                <elementReference>contactState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactStreet</name>
            <value>
                <elementReference>contactStreet</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contact</assignToReference>
            <name>contact</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>campaignContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignOutPut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>campaignStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaingParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>campaingParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
