flows/Get_Campaign.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>New_Campaign_Assignement</name>
        <label>New Campaign Assignement</label>
        <locationX>560</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>campaign.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentCampaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Fundraiser_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fundraiserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCampaignFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fundraiser</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Fundraiser_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fundraiserURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.npsp_plus__Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Code</name>
        <label>Campaign Code</label>
        <locationX>331</locationX>
        <locationY>256</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Campaign_By_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fundraiser</defaultConnectorLabel>
        <rules>
            <name>Is_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentCampaignCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_By_Code</targetReference>
            </connector>
            <label>Is Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fundraiser_Campaign</name>
        <label>Fundraiser Campaign</label>
        <locationX>324</locationX>
        <locationY>619</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Campaign_Assignement</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fundraiser_Id</name>
        <label>Fundraiser Id</label>
        <locationX>551</locationX>
        <locationY>442</locationY>
        <defaultConnector>
            <targetReference>New_Campaign_Assignement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fundraiserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_By_Fundraiser_Id</targetReference>
            </connector>
            <label>Provided</label>
        </rules>
    </decisions>
    <description>campaignCode

parentCampaignCode
fundraiserId
fundraiserURL</description>
    <formulas>
        <name>NewCampaignFormula</name>
        <dataType>String</dataType>
        <expression>{!parentCampaign.Name} &amp; &quot; &quot; &amp; {!contact.FirstName}</expression>
    </formulas>
    <interviewLabel>Get Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign</name>
        <label>Create Campaign</label>
        <locationX>559</locationX>
        <locationY>782</locationY>
        <inputReference>campaign</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_By_Code</name>
        <label>Get Campaign By Code</label>
        <locationX>50</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Campaign_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>campaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_By_Fundraiser_Id</name>
        <label>Get Campaign By Fundraiser Id</label>
        <locationX>332</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fundraiser_Campaign</targetReference>
        </connector>
        <filters>
            <field>Fundraiser_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fundraiserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fundraiser_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentCampaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>campaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Campaign_By_Code</name>
        <label>Get Parent Campaign By Code</label>
        <locationX>559</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fundraiser_Id</targetReference>
        </connector>
        <filters>
            <field>Campaign_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentCampaignCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>parentCampaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>212</locationX>
        <locationY>98</locationY>
        <connector>
            <targetReference>Campaign_Code</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>campaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>fundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>parentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
