flows/Get_Split_Payment_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assignment_Fields</name>
        <label>Assignment Fields</label>
        <locationX>171</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>splitPaymentOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Split_Payment_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>splitPaymentOpportunity.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Split_Payment_Opportunity.Parent_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>splitPaymentOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Split_Payment_Opportunity.Amount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Get Split Payment Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Split Payment Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Split_Payment_Opportunity</name>
        <label>Get Split Payment Opportunity</label>
        <locationX>175</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>splitPaymentOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>45</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Split_Payment_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>splitPaymentOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>splitPaymentOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
