flows/Good2Give_Import.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Handle_Fault</name>
        <label>Handle Fault</label>
        <locationX>2080</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Handle_Fault_0</name>
        <label>Handle Fault</label>
        <locationX>1050</locationX>
        <locationY>1036</locationY>
        <assignmentItems>
            <assignToReference>FlowFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This donation type is not recognised.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_Contact_Relationship_Exists</name>
        <label>Account Contact Relationship Exists?</label>
        <locationX>200</locationX>
        <locationY>968</locationY>
        <defaultConnector>
            <targetReference>CREATE_Account_Contact_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Contact Relationship DOES NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Account_Contact_Relationship_DOES_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Account_Contact_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Donation_Record_Type_ID</targetReference>
            </connector>
            <label>Account Contact Relationship DOES Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_Account</name>
        <label>Confirm Account</label>
        <locationX>338</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>GET_Account_by_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account NOT Found</defaultConnectorLabel>
        <rules>
            <name>Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Contact</targetReference>
            </connector>
            <label>Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_Account_0</name>
        <label>Confirm Account</label>
        <locationX>844</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>GET_Organization_Record_Type_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account NOT Found</defaultConnectorLabel>
        <rules>
            <name>Account_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Contact</targetReference>
            </connector>
            <label>Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists?</label>
        <locationX>370</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>CREATE_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact DOES NOT Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_DOES_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Account_Contact_Relationship</targetReference>
            </connector>
            <label>Contact DOES Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Donation_Type_0</name>
        <label>Donation Type?</label>
        <locationX>1041</locationX>
        <locationY>1258</locationY>
        <defaultConnector>
            <targetReference>Handle_Fault_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Donation Type Not Recognised</defaultConnectorLabel>
        <rules>
            <name>Donation_Type_Workplace_Giving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Donation_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Workplace Giving</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_Donation</targetReference>
            </connector>
            <label>Donation Type = Workplace Giving</label>
        </rules>
        <rules>
            <name>Donation_Type_Employer_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Donation_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer Matched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_Donation_0</targetReference>
            </connector>
            <label>Donation Type = Employer Matched</label>
        </rules>
    </decisions>
    <formulas>
        <name>Opportunity_Name</name>
        <dataType>String</dataType>
        <expression>&quot;First_Name&quot;+&quot; &quot;+&quot;Last_Name&quot;+&quot; &quot;+&quot;Donation_RecordType_Name&quot;+&quot; &quot;+&quot;Date_of_Gift&quot;+&quot; &quot;+&quot;GET_Campaign.Name&quot;</expression>
    </formulas>
    <interviewLabel>Good2Give Import {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Good2Give Import</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_Account</name>
        <label>CREATE Account</label>
        <locationX>1051</locationX>
        <locationY>618</locationY>
        <assignRecordIdToReference>Account_Id</assignRecordIdToReference>
        <connector>
            <targetReference>GET_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>Employer_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Employer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Organization_RecordType_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Account_Contact_Relationship</name>
        <label>CREATE Account Contact Relationship</label>
        <locationX>532</locationX>
        <locationY>965</locationY>
        <connector>
            <targetReference>GET_Donation_Record_Type_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Account_Soft_Credit</name>
        <label>CREATE Account Soft Credit</label>
        <locationX>1175</locationX>
        <locationY>1590</locationY>
        <connector>
            <targetReference>CREATE_Payment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>npsp__Account__c</field>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Opportunity__c</field>
            <value>
                <elementReference>Donation_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Role__c</field>
            <value>
                <stringValue>Donation Source</stringValue>
            </value>
        </inputAssignments>
        <object>npsp__Account_Soft_Credit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Contact</name>
        <label>CREATE Contact</label>
        <locationX>533</locationX>
        <locationY>797</locationY>
        <assignRecordIdToReference>Contact_Id</assignRecordIdToReference>
        <connector>
            <targetReference>CREATE_Account_Contact_Relationship</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Home_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Postal_Suburb</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Postal_Post_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Postal_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Postal_Address_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__WorkPhone__c</field>
            <value>
                <elementReference>Work_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Donation</name>
        <label>CREATE Donation</label>
        <locationX>1170</locationX>
        <locationY>1436</locationY>
        <assignRecordIdToReference>Donation_Id</assignRecordIdToReference>
        <connector>
            <targetReference>CREATE_Account_Soft_Credit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>GET_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Date_of_Gift</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Donation_RecordType_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Do_Not_Automatically_Create_Payment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Donation_0</name>
        <label>CREATE Donation</label>
        <locationX>933</locationX>
        <locationY>1432</locationY>
        <assignRecordIdToReference>Donation_Id</assignRecordIdToReference>
        <connector>
            <targetReference>CREATE_Soft_Credit</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>GET_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Date_of_Gift</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Donation_RecordType_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Do_Not_Automatically_Create_Payment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Payment</name>
        <label>CREATE Payment</label>
        <locationX>1045</locationX>
        <locationY>1775</locationY>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>npe01__Opportunity__c</field>
            <value>
                <elementReference>Donation_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Paid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Date__c</field>
            <value>
                <elementReference>Date_of_Gift</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Method__c</field>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CREATE_Soft_Credit</name>
        <label>CREATE Soft Credit</label>
        <locationX>933</locationX>
        <locationY>1585</locationY>
        <connector>
            <targetReference>CREATE_Payment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>npsp__Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Contact__c</field>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Opportunity__c</field>
            <value>
                <elementReference>Donation_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Role_Name__c</field>
            <value>
                <stringValue>Soft Credit</stringValue>
            </value>
        </inputAssignments>
        <object>npsp__Partial_Soft_Credit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_Account_by_External_ID</name>
        <label>GET Account by External ID</label>
        <locationX>176</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employer_Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Account_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_Account_by_Name</name>
        <label>GET Account by Name</label>
        <locationX>624</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Account_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employer_Name</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Account_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_Account_Contact_Relationship</name>
        <label>GET Account Contact Relationship</label>
        <locationX>208</locationX>
        <locationY>780</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Contact_Relationship_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Campaign</name>
        <label>GET Campaign</label>
        <locationX>761</locationX>
        <locationY>1241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Donation_Type_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Code</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Contact</name>
        <label>GET Contact</label>
        <locationX>594</locationX>
        <locationY>610</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>MailingStreet</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Postal_Address_Street</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Donation_Record_Type_ID</name>
        <label>GET Donation Record Type ID</label>
        <locationX>379</locationX>
        <locationY>1233</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Campaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Donation_RecordType_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Donation_RecordType_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_Organization_Record_Type_ID</name>
        <label>GET Organization Record Type ID</label>
        <locationX>1051</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organization</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Organization_RecordType_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GET_Account_by_External_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GET_Contact.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Date_of_Birth</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Date_of_Gift</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Donation_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Donation_RecordType_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Donation_RecordType_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Donation_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Employer_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Employer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Home_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mobile_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Organization_RecordType_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Payment_Method</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Postal_Address_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Postal_Post_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Postal_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Postal_Suburb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Source_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Work_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
