flows/Guardian_Angel_Recurring.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Donation_Assigment</name>
        <label>Recurring Donations Assigment</label>
        <locationX>1551</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>recurringDonation.npe03__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDonationAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDonationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp__InstallmentFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recirringInstallmentFrequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npe03__Date_Established__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDateEstablished</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp__Day_of_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDayOfMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npe03__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp__RecurringType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npe03__Installment_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringInstallmentPeriod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp_plus__Stripe_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentSubscriptionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.Receipt_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationReceiptNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Recurring_Donation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gift_Card_Assigment</name>
        <label>Gift Card Assigment</label>
        <locationX>1999</locationX>
        <locationY>832</locationY>
        <assignmentItems>
            <assignToReference>giftCard.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>giftMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.Animal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>giftAnimalType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.Animal_Adopt_a_Pet_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>giftAnimaAdoptID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.Animal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>giftAnimalName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>giftAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>giftClosedate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gift Card</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftCard.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gift_Card.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Gift_Card</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Assigment</name>
        <label>Output Assigment</label>
        <locationX>2550</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>giftCard.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDonation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raceiptNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donation.Receipt_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Fee</name>
        <label>Payment_Fee</label>
        <locationX>3030</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>payment.npsp_plus__Payment_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Paypal_Assigment</name>
        <label>Paypal Assigment</label>
        <locationX>3031</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>payment.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.PayPal_Transation_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paypalTransactionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.npsp_plus__Payment_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_stage</name>
        <label>update stage</label>
        <locationX>2286</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>donation.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Ad_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmAdContent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmMedium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmCampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.Test_Variant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmTestVariant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Gif_Null</name>
        <label>Gif (Null)</label>
        <locationX>1870</locationX>
        <locationY>652</locationY>
        <defaultConnector>
            <targetReference>Get_Gift_Card</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gif Card</defaultConnectorLabel>
        <rules>
            <name>Gif_Card_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>giftAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Donation</targetReference>
            </connector>
            <label>Gif Card (Null)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_Null</name>
        <label>Organisation Null</label>
        <locationX>1027</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Create_Organisation_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Organisation Name ( not Null)</defaultConnectorLabel>
        <rules>
            <name>Organisation_Name_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>organisationName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Subflow</targetReference>
            </connector>
            <label>Organisation Name ( Null)</label>
        </rules>
    </decisions>
    <decisions>
        <name>TransactionId</name>
        <label>TransactionId</label>
        <locationX>2814</locationX>
        <locationY>656</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PayPal_Transation_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>payment.Stripe_Transaction_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paypal_Assigment</targetReference>
            </connector>
            <label>PayPal Transation Id</label>
        </rules>
        <rules>
            <name>Stripe_Transaction_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>payment.PayPal_Transation_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Fee</targetReference>
            </connector>
            <label>Stripe Transaction Id</label>
        </rules>
    </decisions>
    <interviewLabel>Guardian Angel Rec {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Guardian Angel Recurring</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Gift_Card</name>
        <label>Create Gift Card</label>
        <locationX>2121</locationX>
        <locationY>832</locationY>
        <connector>
            <targetReference>Get_Donation</targetReference>
        </connector>
        <inputReference>giftCard</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Recurring_Donation</name>
        <label>Create Recurring  Donation</label>
        <locationX>1706</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Gif_Null</targetReference>
        </connector>
        <inputReference>recurringDonation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Donation</name>
        <label>Get Donation</label>
        <locationX>2123</locationX>
        <locationY>653</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_stage</targetReference>
        </connector>
        <filters>
            <field>Amount</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recurringDonationAmount</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe03__Recurring_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recurringDonation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gift_Card</name>
        <label>Get Gift Card</label>
        <locationX>1877</locationX>
        <locationY>832</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gift_Card_Assigment</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gift_Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Records</name>
        <label>Get Payment Records</label>
        <locationX>2668</locationX>
        <locationY>655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TransactionId</targetReference>
        </connector>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Donation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update donation</label>
        <locationX>2442</locationX>
        <locationY>651</locationY>
        <connector>
            <targetReference>Output_Assigment</targetReference>
        </connector>
        <inputReference>donation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_Payment</name>
        <label>Update Records Payment</label>
        <locationX>3215</locationX>
        <locationY>658</locationY>
        <inputReference>payment</inputReference>
    </recordUpdates>
    <start>
        <locationX>910</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>Organisation_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Contact_Subflow</name>
        <label>Create Contact Subflow</label>
        <locationX>1177</locationX>
        <locationY>641</locationY>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <flowName>Create_Contact</flowName>
        <inputAssignments>
            <name>contactCity</name>
            <value>
                <elementReference>contactCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactCountry</name>
            <value>
                <elementReference>contactCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactEmail</name>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactFirstName</name>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactLastName</name>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPhone</name>
            <value>
                <elementReference>contactPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPostalCode</name>
            <value>
                <elementReference>contactPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactState</name>
            <value>
                <elementReference>contactState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactStreet</name>
            <value>
                <elementReference>contactStreet</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contact</assignToReference>
            <name>contact</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Organisation_Subflow</name>
        <label>Create Organisation Subflow</label>
        <locationX>872</locationX>
        <locationY>643</locationY>
        <connector>
            <targetReference>Create_Contact_Subflow</targetReference>
        </connector>
        <flowName>CreateOrganisation</flowName>
        <inputAssignments>
            <name>organisationCity</name>
            <value>
                <elementReference>organisationCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationName</name>
            <value>
                <elementReference>organisationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationPhone</name>
            <value>
                <elementReference>organisationPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationStreet</name>
            <value>
                <elementReference>organisationStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationZIP</name>
            <value>
                <elementReference>organisationZIP</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>organisation</assignToReference>
            <name>organisation</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>1303</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>Donation_Assigment</targetReference>
        </connector>
        <flowName>Get_Campaign</flowName>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>campaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserId</name>
            <value>
                <elementReference>campaignFundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserURL</name>
            <value>
                <elementReference>campaignFundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>parentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>campaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>7011y0000009ZYeAAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>donationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>donationReceiptNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3228.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>donationStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </variables>
    <variables>
        <name>donationUTMLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationUtmName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Donations Organic</stringValue>
        </value>
    </variables>
    <variables>
        <name>donationUTMSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>giftAnimaAdoptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAnimalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAnimalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftCard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>giftClosedate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>giftFromName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>giftMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>organisationCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationZIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>paymentFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>paymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paypalTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>raceiptNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recirringInstallmentFrequency</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recurringDateEstablished</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>recurringDayOfMonth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringDonation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>recurringDonationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recurringDonationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringEffectiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>recurringId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recurringInstallmentPeriod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripepaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>utmAdContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmMedium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmTestVariant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
