flows/membershipPayment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Campaign</name>
        <label>Assign Campaign</label>
        <locationX>1657</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>campaign.Campaign_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaignCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaignCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Donation_Assignment</name>
        <label>Donation Assignment</label>
        <locationX>2251</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>donation.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donation Membership</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_All_Fields.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.Receipt_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationReceiptNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmCampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Ad_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmAdContent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmMedium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.Test_Variant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utmTestVariant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Donation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Membership_Assignment</name>
        <label>Membership Assignment</label>
        <locationX>1810</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>membership.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>membershipName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membership.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membership.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membership.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>membershipAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membership.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>membershipEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membership.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>membershipStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membership.npe01__Membership_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>membershipStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membership.npe01__Member_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>membershipType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membership.npe01__Membership_Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membership.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membership.Membership_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RSPCA NSW Membership</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membership.Local_Volunteer_Branch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>membershipLocalVolunteerBranch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membership.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>membershipEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membership.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Membership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output_Assignment</name>
        <label>Output Assignment</label>
        <locationX>2543</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>memberNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Member_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>membershipId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>membership.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Output_Assignment_0</name>
        <label>Output Assignment</label>
        <locationX>2543</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>donationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raceiptNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donation.Receipt_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Output_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Campaign_Exist</name>
        <label>Does Campaign Exist</label>
        <locationX>1649</locationX>
        <locationY>694</locationY>
        <defaultConnector>
            <targetReference>Assign_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Membership_Assignment</targetReference>
            </connector>
            <label>Campaign Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Donation_Amount</name>
        <label>Donation Amount</label>
        <locationX>2246</locationX>
        <locationY>694</locationY>
        <defaultConnector>
            <targetReference>Get_Donation_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Donation_Amount_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>donationAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>donationAmount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Assignment</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Membership_Number</name>
        <label>Membership Number</label>
        <locationX>1164</locationX>
        <locationY>489</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>membershipEndDate</name>
        <dataType>Date</dataType>
        <expression>{!membershipStartDate} + 365</expression>
    </formulas>
    <interviewLabel>Membership Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Donation</name>
        <label>Create Donation</label>
        <locationX>2399</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_Payment</targetReference>
        </connector>
        <inputReference>donation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Membership</name>
        <label>Create Membership</label>
        <locationX>1947</locationX>
        <locationY>691</locationY>
        <connector>
            <targetReference>Get_All_Fields</targetReference>
        </connector>
        <inputReference>membership</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Campaign</name>
        <label>Insert Campaign</label>
        <locationX>1810</locationX>
        <locationY>862</locationY>
        <connector>
            <targetReference>Membership_Assignment</targetReference>
        </connector>
        <inputReference>campaign</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Fields</name>
        <label>Get All Fields</label>
        <locationX>2088</locationX>
        <locationY>691</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Donation_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>membership.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>1509</locationX>
        <locationY>692</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Campaign_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignCode</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>campaign</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_All_Fields</name>
        <label>Get Contact All Fields</label>
        <locationX>1370</locationX>
        <locationY>690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Member_Number</name>
        <label>Get Contact Member Number</label>
        <locationX>996</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Membership_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Member_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactMemberNumber</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Member_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Donation_Record</name>
        <label>Get Donation Record</label>
        <locationX>2251</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Donation_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>1239</locationX>
        <locationY>690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_All_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Membership</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>582</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Get_Contact_Member_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Contact_Subflow</name>
        <label>Create Contact Subflow</label>
        <locationX>1096</locationX>
        <locationY>690</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <flowName>Create_Contact</flowName>
        <inputAssignments>
            <name>contactCity</name>
            <value>
                <elementReference>contactCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactCountry</name>
            <value>
                <elementReference>contactCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactEmail</name>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactFirstName</name>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactLastName</name>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPhone</name>
            <value>
                <elementReference>contactPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPostalCode</name>
            <value>
                <elementReference>contactPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactState</name>
            <value>
                <elementReference>contactState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactStreet</name>
            <value>
                <elementReference>contactStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationId</name>
            <value>
                <elementReference>organisation.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contact</assignToReference>
            <name>contact</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>2543</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Output_Assignment_0</targetReference>
        </connector>
        <flowName>Create_Payment</flowName>
        <inputAssignments>
            <name>donationId</name>
            <value>
                <elementReference>donation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paypalTransactionId</name>
            <value>
                <elementReference>paypalTransactionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>stripeTransactionId</name>
            <value>
                <elementReference>stripepaymentId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>campaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactMemberNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>donationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>donationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>donationReceiptNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3228.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>donationStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </variables>
    <variables>
        <name>memberNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>membership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>membershipAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>membershipCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>membershipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>membershipLocalVolunteerBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>membershipName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>membershipOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>membershipStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </variables>
    <variables>
        <name>membershipStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>membershipType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>organisation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>paypalTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>raceiptNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stripepaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmAdContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmMedium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmTestVariant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
