flows/oneOffDonationMPWandCCD.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CCD</name>
        <label>CCD</label>
        <locationX>1939</locationX>
        <locationY>976</locationY>
        <assignmentItems>
            <assignToReference>campaingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Campaing_Cup_Cake.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Donation_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Donation_Assigment</name>
        <label>Donation Assigment</label>
        <locationX>2234</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>donation.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaingId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.Receipt_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3228</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Ad_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationUTMLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationUTMSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.npsp_plus__Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Donation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MPW</name>
        <label>MPW</label>
        <locationX>1938</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>campaingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaing_Parent_Million_Paws_Walk.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Donation_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output</name>
        <label>Output Assigment</label>
        <locationX>2535</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>donationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raceiptNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donation.Receipt_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Organisation_Null</name>
        <label>Organisation Null</label>
        <locationX>1129</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>Create_Organisation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Organisation Name ( not Null)</defaultConnectorLabel>
        <rules>
            <name>Organisation_Name_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>organisationName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_contact_flow</targetReference>
            </connector>
            <label>Organisation Name ( Null)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Campaign</name>
        <label>Parent Campaign</label>
        <locationX>1471</locationX>
        <locationY>735</locationY>
        <defaultConnector>
            <targetReference>Get_Donation_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Million_Paws_Walk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaingParent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MPW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaing_Parent_Million_Paws_Walk</targetReference>
            </connector>
            <label>Million Paws Walk</label>
        </rules>
        <rules>
            <name>Cup_Cake_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>campaingParent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Campaing_Cup_Cake</targetReference>
            </connector>
            <label>Cup Cake Day</label>
        </rules>
    </decisions>
    <interviewLabel>One off donation (MPW and CCD) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>One off donation (MPW and CCD)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Donation</name>
        <label>Create Donation</label>
        <locationX>2385</locationX>
        <locationY>733</locationY>
        <connector>
            <targetReference>Output</targetReference>
        </connector>
        <inputReference>donation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Campaing_Parent_Million_Paws_Walk</name>
        <label>Campaing Parent Million Paws Walk</label>
        <locationX>1482</locationX>
        <locationY>490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MPW</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Million Paws Walk</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>2061</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Donation_Assigment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donation_Record_Type</name>
        <label>Get Donation Record Type</label>
        <locationX>1940</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Parent_Campaing_Cup_Cake</name>
        <label>Parent Campaing Cup Cake</label>
        <locationX>1476</locationX>
        <locationY>976</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CCD</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cup Cake Day 2021</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1011</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>Organisation_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_contact_flow</name>
        <label>Create contact flow</label>
        <locationX>1338</locationX>
        <locationY>732</locationY>
        <connector>
            <targetReference>Parent_Campaign</targetReference>
        </connector>
        <flowName>Create_Contact</flowName>
        <inputAssignments>
            <name>contactCity</name>
            <value>
                <elementReference>contactCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactCountry</name>
            <value>
                <elementReference>contactCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactEmail</name>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactFirstName</name>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactLastName</name>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPhone</name>
            <value>
                <elementReference>contactPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPostalCode</name>
            <value>
                <elementReference>contactPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactState</name>
            <value>
                <elementReference>contactState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactStreet</name>
            <value>
                <elementReference>contactStreet</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contact</assignToReference>
            <name>contact</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Organisation</name>
        <label>Create Organisation</label>
        <locationX>985</locationX>
        <locationY>724</locationY>
        <connector>
            <targetReference>Create_contact_flow</targetReference>
        </connector>
        <flowName>CreateOrganisation</flowName>
        <inputAssignments>
            <name>organisationCity</name>
            <value>
                <elementReference>organisationCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationName</name>
            <value>
                <elementReference>organisationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationPhone</name>
            <value>
                <elementReference>organisationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationStreet</name>
            <value>
                <elementReference>organisationStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationWebsite</name>
            <value>
                <elementReference>organisationWebsite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationZIP</name>
            <value>
                <elementReference>organisationZIP</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>organisation</assignToReference>
            <name>organisation</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>2663</locationX>
        <locationY>731</locationY>
        <flowName>Create_Payment</flowName>
        <inputAssignments>
            <name>donationId</name>
            <value>
                <elementReference>donationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>emptyline</name>
            <value>
                <elementReference>emptyline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paypalTransactionId</name>
            <value>
                <elementReference>paypalTransactionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>stripeTransactionId</name>
            <value>
                <elementReference>stripeTransactionId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>campaingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>7011y0000009Xt3AAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>campaingParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>donationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>donationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>donationUTMLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationUtmName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationUTMSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emptyline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>organisationCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>organisationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationWebsite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationZIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>paymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Credit Card</stringValue>
        </value>
    </variables>
    <variables>
        <name>paypalTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>raceiptNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stripeTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
