flows/oneOffDonation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contact_Deduplicate</name>
        <label>Contact Deduplicate</label>
        <locationX>1592</locationX>
        <locationY>1202</locationY>
        <actionName>DeduplicateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Contact_Decision</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sObjects</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sObjects</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Organlsation_Duplicate</name>
        <label>Organlsation Duplicate</label>
        <locationX>638</locationX>
        <locationY>731</locationY>
        <actionName>DeduplicateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Organisation_Decision</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sObjects</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sObjects</name>
            <value>
                <elementReference>organisation</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Contact_Assigment</name>
        <label>Contact Assigment</label>
        <locationX>1427</locationX>
        <locationY>1203</locationY>
        <assignmentItems>
            <assignToReference>contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Deduplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Donation_Assigment</name>
        <label>Donation Assigment</label>
        <locationX>1620</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>donation.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>7011y0000009Xt3AAE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Donation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Organisation_Assigment</name>
        <label>Organisation Assigment</label>
        <locationX>500</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>organisation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationZIP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisation.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisationWebsite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Organlsation_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Output</name>
        <label>Output Assigment</label>
        <locationX>1969</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>donationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>organisationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>organisation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Assigment_PayPal</name>
        <label>Payment Assigment PayPal</label>
        <locationX>3329</locationX>
        <locationY>1099</locationY>
        <assignmentItems>
            <assignToReference>payment.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.Stripe_Transaction_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeTransactionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Assigment_Stripe</name>
        <label>Payment Assigment Stripe</label>
        <locationX>3321</locationX>
        <locationY>913</locationY>
        <assignmentItems>
            <assignToReference>payment.PayPal_Transation_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paypalTransactionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payment.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Decision</name>
        <label>Contact Decision</label>
        <locationX>1744</locationX>
        <locationY>1253</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact id is null</defaultConnectorLabel>
        <rules>
            <name>Contact_has_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Contact has id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_Decision</name>
        <label>Organisation Decision</label>
        <locationX>776</locationX>
        <locationY>733</locationY>
        <defaultConnector>
            <targetReference>Create_Organistion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Organisation id is null</defaultConnectorLabel>
        <rules>
            <name>Organisation_Has_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>organisation.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Organisation</targetReference>
            </connector>
            <label>Organisation Has Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_Null</name>
        <label>Organisation Null</label>
        <locationX>931</locationX>
        <locationY>310</locationY>
        <defaultConnector>
            <targetReference>Organisation_Assigment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Organisation Name ( not Null)</defaultConnectorLabel>
        <rules>
            <name>Organisation_Name_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>organisationName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_contact_flow</targetReference>
            </connector>
            <label>Organisation Name ( Null)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tra</name>
        <label>TransactionId</label>
        <locationX>2993</locationX>
        <locationY>1051</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stripe_Transaction_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>payment.Stripe_Transaction_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Assigment_Stripe</targetReference>
            </connector>
            <label>PayPal Transation Id</label>
        </rules>
        <rules>
            <name>transaction_Spiret_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>payment.PayPal_Transation_Id__c</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <connector>
                <targetReference>Payment_Assigment_PayPal</targetReference>
            </connector>
            <label>Stripe Transaction Id</label>
        </rules>
    </decisions>
    <interviewLabel>One-off Donation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>One-off Donation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>2011</locationX>
        <locationY>1417</locationY>
        <inputReference>contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Donation</name>
        <label>Create Donation</label>
        <locationX>1805</locationX>
        <locationY>730</locationY>
        <connector>
            <targetReference>Output</targetReference>
        </connector>
        <inputReference>donation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Organistion</name>
        <label>Create Organistion</label>
        <locationX>1041</locationX>
        <locationY>642</locationY>
        <connector>
            <targetReference>Create_contact_flow</targetReference>
        </connector>
        <inputReference>organisation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Donation_Record_Type</name>
        <label>Get Donation Record Type</label>
        <locationX>1497</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Donation_Assigment</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Records</name>
        <label>Get Payment Records</label>
        <locationX>2635</locationX>
        <locationY>1042</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tra</targetReference>
        </connector>
        <filters>
            <field>npe01__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>donation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1946</locationX>
        <locationY>1096</locationY>
        <inputReference>contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Organisation</name>
        <label>Update Organisation</label>
        <locationX>1034</locationX>
        <locationY>813</locationY>
        <connector>
            <targetReference>Create_contact_flow</targetReference>
        </connector>
        <inputReference>organisation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records Payment</label>
        <locationX>3642</locationX>
        <locationY>1009</locationY>
        <inputReference>payment</inputReference>
    </recordUpdates>
    <start>
        <locationX>814</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Organisation_Null</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Create_contact_flow</name>
        <label>Create contact flow</label>
        <locationX>1338</locationX>
        <locationY>732</locationY>
        <connector>
            <targetReference>Get_Donation_Record_Type</targetReference>
        </connector>
        <flowName>Create_Contact</flowName>
        <inputAssignments>
            <name>contactCity</name>
            <value>
                <elementReference>contactCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactCountry</name>
            <value>
                <elementReference>contactCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactEmail</name>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactFirstName</name>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactLastName</name>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPhone</name>
            <value>
                <elementReference>contactPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPostalCode</name>
            <value>
                <elementReference>contactPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactState</name>
            <value>
                <elementReference>contactState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactStreet</name>
            <value>
                <elementReference>contactStreet</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contact</assignToReference>
            <name>outputrecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>2112</locationX>
        <locationY>734</locationY>
        <flowName>Create_Payment</flowName>
        <inputAssignments>
            <name>donationId</name>
            <value>
                <elementReference>donationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>emptyline</name>
            <value>
                <elementReference>emptyline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paypalTransactionId</name>
            <value>
                <elementReference>paypalTransactionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>stripeTransactionId</name>
            <value>
                <elementReference>stripeTransactionId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>donationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>donationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emptyline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>organisationCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>organisationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationWebsite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationZIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>paymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Credit Card</stringValue>
        </value>
    </variables>
    <variables>
        <name>paypalTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stripeTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
