flows/Referral_To_Intake.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>setIntakeDefaults</name>
        <label>Set Intake Defaults</label>
        <locationX>388</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>varIntake.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcIntakeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIntake.caseman__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varReferral.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIntake.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varIntakeRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createIntake</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>hasIntakeId</name>
        <label>Has Intake Id?</label>
        <locationX>381</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>screenSelectIntakeRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Intake</defaultConnectorLabel>
        <rules>
            <name>trueHasIntakeId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferral.caseman__Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenExistingIntake</targetReference>
            </connector>
            <label>View Existing Intake</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>caseman__Intake__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varIntakeRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>calcIntakeName</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!varReferral.ContactId})),
  {!varReferral.Contact.FirstName} + IF(ISBLANK({!varReferral.Contact.FirstName}), &quot;&quot;, &quot; &quot;) + {!varReferral.Contact.LastName} + &quot; &quot;,
  &quot;&quot;) + &quot;Intake &quot; + TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Referral To Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral To Intake</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createIntake</name>
        <label>Create Intake</label>
        <locationX>533</locationX>
        <locationY>412</locationY>
        <connector>
            <targetReference>updateReferral</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenDisplayError</targetReference>
        </faultConnector>
        <inputReference>varIntake</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getReferral</name>
        <label>Get Referral</label>
        <locationX>389</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasIntakeId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenDisplayError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varReferral</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SuppliedEmail</queriedFields>
        <queriedFields>SuppliedName</queriedFields>
        <queriedFields>SuppliedPhone</queriedFields>
        <queriedFields>caseman__Intake__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateReferral</name>
        <label>Update Referral</label>
        <locationX>677</locationX>
        <locationY>412</locationY>
        <connector>
            <targetReference>screenViewIntake</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenDisplayError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>caseman__Intake__c</field>
            <value>
                <elementReference>varIntake.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>screenDisplayError</name>
        <label>Display Error</label>
        <locationX>602</locationX>
        <locationY>25</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screenReturnToRecord</targetReference>
        </connector>
        <fields>
            <name>displayError</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenExistingIntake</name>
        <label>Existing Intake</label>
        <locationX>760</locationX>
        <locationY>181</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screenViewExistingIntake</targetReference>
        </connector>
        <fields>
            <name>displayExistingIntake</name>
            <fieldText>&lt;p&gt;A related Intake record already exists for this Referral. Click Next to view the existing record. To go back, use your browser&apos;s Back button.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenReturnToRecord</name>
        <label>Return to Record</label>
        <locationX>703</locationX>
        <locationY>25</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Return</name>
            <extensionName>caseman:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>caseId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenSelectIntakeRecordType</name>
        <label>Select Intake Record Type</label>
        <locationX>231</locationX>
        <locationY>412</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setIntakeDefaults</targetReference>
        </connector>
        <fields>
            <name>inputIntakeRecordType</name>
            <choiceReferences>choiceRecordTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Intake Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenViewExistingIntake</name>
        <label>View Existing Intake Record</label>
        <locationX>907</locationX>
        <locationY>181</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>navigateToExistingIntake</name>
            <extensionName>caseman:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varReferral.caseman__Intake__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenViewIntake</name>
        <label>View Intake</label>
        <locationX>810</locationX>
        <locationY>412</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>navigateToIntakeRecord</name>
            <extensionName>caseman:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varIntake.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>getReferral</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIntake</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>caseman__Intake__c</objectType>
    </variables>
    <variables>
        <name>varIntakeRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReferral</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
