flows/Regular_Giving_Donation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Output_Assigment</name>
        <label>Output Assigment</label>
        <locationX>2132</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Donate_Type_Stage.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raceiptNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donation.Receipt_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recurring_Donations_Assigment</name>
        <label>Recurring Donations Assigment</label>
        <locationX>1390</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>recurringDonation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDonationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npe03__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDonationAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp__InstallmentFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recirringInstallmentFrequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npe03__Date_Established__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDateEstablished</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringEffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp__Day_of_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringDayOfMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npe03__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp__RecurringType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npe03__Installment_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recurringInstallmentPeriod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npe03__Recurring_Donation_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>campaignID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringDonation.npsp_plus__Stripe_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentSubscriptionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Regular_Donation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Assignment</name>
        <label>Task Assignment</label>
        <locationX>2373</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thank you Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051y000001A9jbAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> New recurring donation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Group_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support Coordinator Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Activity_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stage</name>
        <label>Update Stage</label>
        <locationX>1883</locationX>
        <locationY>713</locationY>
        <assignmentItems>
            <assignToReference>donation.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Donate_Type_Stage.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.Receipt_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationReceiptNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Ad_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationUTMLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donationUTMSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.npsp_plus__Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donation.UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_donation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Organisation_Null</name>
        <label>Organisation Null</label>
        <locationX>1097</locationX>
        <locationY>534</locationY>
        <defaultConnector>
            <targetReference>Create_Organisation_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Organisation Name ( not Null)</defaultConnectorLabel>
        <rules>
            <name>Organisation_Name_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>organisationName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Subflow</targetReference>
            </connector>
            <label>Organisation Name ( Null)</label>
        </rules>
    </decisions>
    <interviewLabel>Regular Giving Donation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Regular Giving Donation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Regular_Donation</name>
        <label>Create Regular Donation</label>
        <locationX>1530</locationX>
        <locationY>713</locationY>
        <connector>
            <targetReference>Donate_Type_Stage</targetReference>
        </connector>
        <inputReference>recurringDonation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>2488</locationX>
        <locationY>714</locationY>
        <inputReference>task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Donate_Type_Stage</name>
        <label>Donate Type Stage</label>
        <locationX>1665</locationX>
        <locationY>715</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pledged</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>1756</locationX>
        <locationY>716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Stage</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>donationUtmName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_donation</name>
        <label>Update donation</label>
        <locationX>1993</locationX>
        <locationY>713</locationY>
        <connector>
            <targetReference>Output_Assigment</targetReference>
        </connector>
        <inputReference>donation</inputReference>
    </recordUpdates>
    <start>
        <locationX>979</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>Organisation_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Contact_Subflow</name>
        <label>Create Contact Subflow</label>
        <locationX>1269</locationX>
        <locationY>711</locationY>
        <connector>
            <targetReference>Recurring_Donations_Assigment</targetReference>
        </connector>
        <flowName>Create_Contact</flowName>
        <inputAssignments>
            <name>contactCity</name>
            <value>
                <elementReference>contactCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactCountry</name>
            <value>
                <elementReference>contactCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactEmail</name>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactFirstName</name>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactLastName</name>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPhone</name>
            <value>
                <elementReference>contactPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPostalCode</name>
            <value>
                <elementReference>contactPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactState</name>
            <value>
                <elementReference>contactState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactStreet</name>
            <value>
                <elementReference>contactStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationId</name>
            <value>
                <elementReference>organisation.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contact</assignToReference>
            <name>contact</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Organisation_Subflow</name>
        <label>Create Organisation Subflow</label>
        <locationX>962</locationX>
        <locationY>707</locationY>
        <connector>
            <targetReference>Create_Contact_Subflow</targetReference>
        </connector>
        <flowName>CreateOrganisation</flowName>
        <inputAssignments>
            <name>organisationCity</name>
            <value>
                <elementReference>organisationCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationName</name>
            <value>
                <elementReference>organisationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationPhone</name>
            <value>
                <elementReference>organisationPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationStreet</name>
            <value>
                <elementReference>organisationStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationWebsite</name>
            <value>
                <elementReference>organisationZIP</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>organisation</assignToReference>
            <name>organisation</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>2248</locationX>
        <locationY>713</locationY>
        <connector>
            <targetReference>Task_Assignment</targetReference>
        </connector>
        <flowName>Create_Payment</flowName>
        <inputAssignments>
            <name>donationId</name>
            <value>
                <elementReference>donationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paypalTransactionId</name>
            <value>
                <elementReference>paypalTransactionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>stripeTransactionId</name>
            <value>
                <elementReference>stripepaymentId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>campaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>7011y0000009ZYeAAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>donationReceiptNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>donationStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </variables>
    <variables>
        <name>donationUTMLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationUtmName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Donations Organic</stringValue>
        </value>
    </variables>
    <variables>
        <name>donationUTMSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emptyline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>organisationCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationZIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>paymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paypalTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>raceiptNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recirringInstallmentFrequency</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recurringDateEstablished</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>recurringDayOfMonth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringDonation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>recurringDonationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recurringDonationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringEffectiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>recurringInstallmentPeriod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripepaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
