flows/Task_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Init_Task</name>
        <label>Init Task</label>
        <locationX>211</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>taskVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow Webhook</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputPayload</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0052x000002jmhuAAA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Task Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>389</locationX>
        <locationY>50</locationY>
        <inputReference>taskVar</inputReference>
    </recordCreates>
    <start>
        <locationX>49</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Init_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputActivityDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>inputPayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
