flows/websiteIntegration.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Output_Assignment</name>
        <label>Output Assignment</label>
        <locationX>990</locationX>
        <locationY>3863</locationY>
        <assignmentItems>
            <assignToReference>donationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Donation.donation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Recurring.recurringDonation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>receiptNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3228.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Gift.giftCard.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ticketId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Ticket.eventticket.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Or_updated_Split_Payment_Opportunity.PaymentOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Output_Contact_Error</name>
        <label>Output Contact Error</label>
        <locationX>688</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Output_Error_Campaign</name>
        <label>Output Error Campaign</label>
        <locationX>667</locationX>
        <locationY>1119</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Campaign.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Output_Error_Donation</name>
        <label>Output Error Donation</label>
        <locationX>682</locationX>
        <locationY>2061</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Donation.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Output_Error_Gift</name>
        <label>Output Error Gift</label>
        <locationX>653</locationX>
        <locationY>3464</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Gift.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Output_Error_Payment</name>
        <label>Output Error Payment</label>
        <locationX>676</locationX>
        <locationY>2509</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Payment.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Output_Error_Recurring</name>
        <label>Output Error Recurring</label>
        <locationX>686</locationX>
        <locationY>1599</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Recurring.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Output_Error_Ticket</name>
        <label>Output Error Ticket</label>
        <locationX>664</locationX>
        <locationY>2974</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Ticket.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>FaultMessage_Campaign</name>
        <label>FaultMessage Campaign</label>
        <locationX>971</locationX>
        <locationY>1119</locationY>
        <defaultConnector>
            <targetReference>Create_Recurring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Campaign Succsesful</defaultConnectorLabel>
        <rules>
            <name>Campaign_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Campaign.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Error_Campaign</targetReference>
            </connector>
            <label>Campaign Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>FaultMessage_Contact</name>
        <label>FaultMessage Contact</label>
        <locationX>968</locationX>
        <locationY>757</locationY>
        <defaultConnector>
            <targetReference>Create_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Successful</defaultConnectorLabel>
        <rules>
            <name>Contact_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Contact_Error</targetReference>
            </connector>
            <label>Contact Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>FaultMessage_Donation</name>
        <label>FaultMessage Donation</label>
        <locationX>970</locationX>
        <locationY>2061</locationY>
        <defaultConnector>
            <targetReference>Create_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Donation Succsesful</defaultConnectorLabel>
        <rules>
            <name>Donation_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Donation.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Error_Donation</targetReference>
            </connector>
            <label>Donation Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>FaultMessage_Gift</name>
        <label>FaultMessage Gift</label>
        <locationX>969</locationX>
        <locationY>3465</locationY>
        <defaultConnector>
            <targetReference>Create_Or_updated_Split_Payment_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gift Succsesful</defaultConnectorLabel>
        <rules>
            <name>Gift_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Gift.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Error_Gift</targetReference>
            </connector>
            <label>Gift Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>FaultMessage_Payment</name>
        <label>FaultMessage Payment</label>
        <locationX>970</locationX>
        <locationY>2512</locationY>
        <defaultConnector>
            <targetReference>Create_Ticket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Succsesful</defaultConnectorLabel>
        <rules>
            <name>Payment_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Payment.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Error_Payment</targetReference>
            </connector>
            <label>Payment Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>FaultMessage_Recurring</name>
        <label>FaultMessage Recurring</label>
        <locationX>970</locationX>
        <locationY>1597</locationY>
        <defaultConnector>
            <targetReference>Create_Donation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recurring Succsesful</defaultConnectorLabel>
        <rules>
            <name>Recurring_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Recurring.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Error_Recurring</targetReference>
            </connector>
            <label>Recurring Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>FaultMessage_Ticket</name>
        <label>FaultMessage Ticket</label>
        <locationX>968</locationX>
        <locationY>2981</locationY>
        <defaultConnector>
            <targetReference>Create_Gift</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ticket Succsesful</defaultConnectorLabel>
        <rules>
            <name>Ticket_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Ticket.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Error_Ticket</targetReference>
            </connector>
            <label>Ticket Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organisation_null</name>
        <label>Organisation null</label>
        <locationX>961</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Create_Organisation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not nul</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>organisationName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>Amount</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!donationAmount}, {!recurringDonationAmount})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Web {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Website Integration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>841</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Organisation_null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Campaign</name>
        <label>Create Campaign</label>
        <locationX>976</locationX>
        <locationY>996</locationY>
        <connector>
            <targetReference>FaultMessage_Campaign</targetReference>
        </connector>
        <flowName>Get_Campaign</flowName>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>campaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserId</name>
            <value>
                <elementReference>fundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserURL</name>
            <value>
                <elementReference>fundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>parentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>968</locationX>
        <locationY>637</locationY>
        <connector>
            <targetReference>FaultMessage_Contact</targetReference>
        </connector>
        <flowName>Create_Contact</flowName>
        <inputAssignments>
            <name>contactCity</name>
            <value>
                <elementReference>contactCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactCountry</name>
            <value>
                <elementReference>contactCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactEmail</name>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactFirstName</name>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactLastName</name>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPhone</name>
            <value>
                <elementReference>contactPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPostalCode</name>
            <value>
                <elementReference>contactPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactState</name>
            <value>
                <elementReference>contactState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactStreet</name>
            <value>
                <elementReference>contactStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftcontactId</name>
            <value>
                <elementReference>giftcontactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationId</name>
            <value>
                <elementReference>organisationId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contact</assignToReference>
            <name>contact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FaultMessage</assignToReference>
            <name>FaultMessage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Donation</name>
        <label>Create Donation</label>
        <locationX>980</locationX>
        <locationY>1856</locationY>
        <connector>
            <targetReference>FaultMessage_Donation</targetReference>
        </connector>
        <flowName>Create_Donation</flowName>
        <inputAssignments>
            <name>campaign</name>
            <value>
                <elementReference>Create_Campaign.campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>donationCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserId</name>
            <value>
                <elementReference>donationCampaignFundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserURL</name>
            <value>
                <elementReference>donationCampaignFundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CloseDate</name>
            <value>
                <elementReference>donationCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donationAmount</name>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donationDate</name>
            <value>
                <elementReference>donationCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donationStage</name>
            <value>
                <elementReference>donationStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftAmount</name>
            <value>
                <elementReference>giftAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>donationParentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recurringId</name>
            <value>
                <elementReference>Create_Recurring.recurringDonation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmAdContent</name>
            <value>
                <elementReference>utmAdContent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmCampaign</name>
            <value>
                <elementReference>utmCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmMedium</name>
            <value>
                <elementReference>utmMedium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmSource</name>
            <value>
                <elementReference>utmSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmTerm</name>
            <value>
                <elementReference>utmTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmTestVariant</name>
            <value>
                <elementReference>utmTestVariant</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Gift</name>
        <label>Create Gift</label>
        <locationX>978</locationX>
        <locationY>3283</locationY>
        <connector>
            <targetReference>FaultMessage_Gift</targetReference>
        </connector>
        <flowName>Create_Gift</flowName>
        <inputAssignments>
            <name>campaign</name>
            <value>
                <elementReference>Create_Campaign.campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>giftCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserId</name>
            <value>
                <elementReference>giftCampaignFundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserURL</name>
            <value>
                <elementReference>giftCampaignFundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donationAmount</name>
            <value>
                <elementReference>donationAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftAmount</name>
            <value>
                <elementReference>giftAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftAnimalAdoptID</name>
            <value>
                <elementReference>giftAnimalAdoptID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftAnimalName</name>
            <value>
                <elementReference>giftAnimalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftAnimalType</name>
            <value>
                <elementReference>giftAnimalType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftClosedate</name>
            <value>
                <elementReference>giftClosedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftFromName</name>
            <value>
                <elementReference>giftFromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftMessage</name>
            <value>
                <elementReference>giftMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftName</name>
            <value>
                <elementReference>giftName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftStage</name>
            <value>
                <elementReference>giftStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>multipleGiftCards</name>
            <value>
                <elementReference>giftmultipleGiftCards</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>giftParentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Or_updated_Split_Payment_Opportunity</name>
        <label>Create Or updated Split Payment Opportunity</label>
        <locationX>987</locationX>
        <locationY>3684</locationY>
        <connector>
            <targetReference>Output_Assignment</targetReference>
        </connector>
        <flowName>Create_Split_Payment_Opportunity</flowName>
        <inputAssignments>
            <name>campaign</name>
            <value>
                <elementReference>Create_Campaign.campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>campaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CloseDate</name>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donationAmount</name>
            <value>
                <elementReference>Create_Donation.donation.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donationId</name>
            <value>
                <elementReference>Create_Donation.donation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftAmount</name>
            <value>
                <elementReference>Create_Gift.giftCard.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftId</name>
            <value>
                <elementReference>Create_Gift.giftCard.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>lastGiftCard</name>
            <value>
                <elementReference>giftlastGiftCard</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>multipleGiftCards</name>
            <value>
                <elementReference>giftmultipleGiftCards</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recurringDonationAmount</name>
            <value>
                <elementReference>recurringDonationAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recurringId</name>
            <value>
                <elementReference>Create_Recurring.recurringDonation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>splitPaymentOpportunityId</name>
            <value>
                <elementReference>parentOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Organisation</name>
        <label>Create Organisation</label>
        <locationX>1192</locationX>
        <locationY>462</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <flowName>CreateOrganisation</flowName>
        <inputAssignments>
            <name>organisationCity</name>
            <value>
                <elementReference>organisationCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationName</name>
            <value>
                <elementReference>organisationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationPhone</name>
            <value>
                <elementReference>organisationPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationStreet</name>
            <value>
                <elementReference>organisationStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationWebsite</name>
            <value>
                <elementReference>organisationWebsite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationZIP</name>
            <value>
                <elementReference>organisationZIP</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>organisation</assignToReference>
            <name>organisation</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>978</locationX>
        <locationY>2316</locationY>
        <connector>
            <targetReference>FaultMessage_Payment</targetReference>
        </connector>
        <flowName>Create_Payment</flowName>
        <inputAssignments>
            <name>donationId</name>
            <value>
                <elementReference>Create_Donation.donation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentFee</name>
            <value>
                <elementReference>paymentFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paypalTransactionId</name>
            <value>
                <elementReference>paypalTransactionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>stripeTransactionId</name>
            <value>
                <elementReference>paymentTransactionId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Recurring</name>
        <label>Create Recurring</label>
        <locationX>977</locationX>
        <locationY>1375</locationY>
        <connector>
            <targetReference>FaultMessage_Recurring</targetReference>
        </connector>
        <flowName>Create_recurring</flowName>
        <inputAssignments>
            <name>campaign</name>
            <value>
                <elementReference>Create_Campaign.campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>recurringCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserId</name>
            <value>
                <elementReference>recurringCampaignFundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserURL</name>
            <value>
                <elementReference>recurringCampaignFundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CloseDate</name>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>recurringParentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentSubscriptionId</name>
            <value>
                <elementReference>paymentSubscriptionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recurringDonationAmount</name>
            <value>
                <elementReference>recurringDonationAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recurringStartDate</name>
            <value>
                <elementReference>recurringNextDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmAdContent</name>
            <value>
                <elementReference>utmAdContent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmCampaign</name>
            <value>
                <elementReference>utmCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmMedium</name>
            <value>
                <elementReference>utmMedium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmSource</name>
            <value>
                <elementReference>utmSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmTerm</name>
            <value>
                <elementReference>utmTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmTestVariant</name>
            <value>
                <elementReference>utmTestVariant</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Ticket</name>
        <label>Create Ticket</label>
        <locationX>976</locationX>
        <locationY>2749</locationY>
        <connector>
            <targetReference>FaultMessage_Ticket</targetReference>
        </connector>
        <flowName>Create_ticket</flowName>
        <inputAssignments>
            <name>campaign</name>
            <value>
                <elementReference>Create_Campaign.campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>ticketCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserId</name>
            <value>
                <elementReference>ticketCampaignFundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserURL</name>
            <value>
                <elementReference>ticketCampaignFundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CloseDate</name>
            <value>
                <elementReference>ticketCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>ticketParentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketAduitAmount</name>
            <value>
                <elementReference>ticketAduitAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketAmount</name>
            <value>
                <elementReference>ticketAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketChild</name>
            <value>
                <elementReference>ticketChild</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketChildAmount</name>
            <value>
                <elementReference>ticketChildAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketFamily</name>
            <value>
                <elementReference>ticketFamily</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketFamilyAmount</name>
            <value>
                <elementReference>ticketFamilyAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketLocation</name>
            <value>
                <elementReference>ticketLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketsConcession</name>
            <value>
                <elementReference>ticketsConcession</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketsConcessionAmount</name>
            <value>
                <elementReference>ticketsConcessionAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketStage</name>
            <value>
                <elementReference>ticketStage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>campaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>donationCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationCampaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationCampaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>donationParentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>giftAnimalAdoptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAnimalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAnimalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftCampaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftCampaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftClosedate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>giftcontactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftFromName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>giftlastGiftCard</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftmultipleGiftCards</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftParentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>organisationCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationWebsite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationZIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>paymentFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>paymentSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paypalTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>receiptNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recurringCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringCampaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringCampaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringDonationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recurringId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recurringNextDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringParentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>splitPaymentOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ticketAduitAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketCampaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketCampaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketChild</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketChildAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>ticketFamily</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketFamilyAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ticketLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketParentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketsConcession</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketsConcessionAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmAdContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmMedium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmTestVariant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
