flows/websiteIntegration.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Output_Assignment</name>
        <label>Output Assignment</label>
        <locationX>1505</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>donationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Donation.donation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Recurring.recurringDonation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>raceiptNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3228.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>giftId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Gift.giftCard.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ticketId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Ticket.eventticket.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Organisation_null</name>
        <label>Organisation null</label>
        <locationX>286</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Create_Organisation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not nul</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>organisationName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>Amount</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!donationAmount}, {!recurringDonationAmount})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Web {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Website Integration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>164</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Organisation_null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Campaign</name>
        <label>Create Campaign</label>
        <locationX>595</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Create_Recurring</targetReference>
        </connector>
        <flowName>Get_Campaign</flowName>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>campaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserId</name>
            <value>
                <elementReference>fundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fundraiserURL</name>
            <value>
                <elementReference>fundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>parentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>442</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Create_Campaign</targetReference>
        </connector>
        <flowName>Create_Contact</flowName>
        <inputAssignments>
            <name>contactCity</name>
            <value>
                <elementReference>contactCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactCountry</name>
            <value>
                <elementReference>contactCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactEmail</name>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactFirstName</name>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactLastName</name>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPhone</name>
            <value>
                <elementReference>contactPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactPostalCode</name>
            <value>
                <elementReference>contactPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactState</name>
            <value>
                <elementReference>contactState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactStreet</name>
            <value>
                <elementReference>contactStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftcontactId</name>
            <value>
                <elementReference>giftcontactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationId</name>
            <value>
                <elementReference>organisationId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contact</assignToReference>
            <name>contact</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Donation</name>
        <label>Create Donation</label>
        <locationX>908</locationX>
        <locationY>489</locationY>
        <connector>
            <targetReference>Create_Payment</targetReference>
        </connector>
        <flowName>Create_Donation</flowName>
        <inputAssignments>
            <name>campaign</name>
            <value>
                <elementReference>Create_Campaign.campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>donationCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserId</name>
            <value>
                <elementReference>donationCampaignFundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserURL</name>
            <value>
                <elementReference>donationCampaignFundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CloseDate</name>
            <value>
                <elementReference>donationCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donationAmount</name>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donationDate</name>
            <value>
                <elementReference>donationCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donationStage</name>
            <value>
                <elementReference>donationStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>donationParentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recurringId</name>
            <value>
                <elementReference>Create_Recurring.recurringDonation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmAdContent</name>
            <value>
                <elementReference>utmAdContent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmCampaign</name>
            <value>
                <elementReference>utmCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmMedium</name>
            <value>
                <elementReference>utmMedium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmSource</name>
            <value>
                <elementReference>utmSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>utmTestVariant</name>
            <value>
                <elementReference>utmTestVariant</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Gift</name>
        <label>Create Gift</label>
        <locationX>1354</locationX>
        <locationY>491</locationY>
        <connector>
            <targetReference>Output_Assignment</targetReference>
        </connector>
        <flowName>Create_Gift</flowName>
        <inputAssignments>
            <name>campaign</name>
            <value>
                <elementReference>Create_Campaign.campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>giftCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserId</name>
            <value>
                <elementReference>giftCampaignFundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserURL</name>
            <value>
                <elementReference>giftCampaignFundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftAmount</name>
            <value>
                <elementReference>giftAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftAnimalAdoptID</name>
            <value>
                <elementReference>giftAnimalAdoptID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftAnimalName</name>
            <value>
                <elementReference>giftAnimalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftAnimalType</name>
            <value>
                <elementReference>giftAnimalType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftClosedate</name>
            <value>
                <elementReference>giftClosedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftFromName</name>
            <value>
                <elementReference>giftFromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftMessage</name>
            <value>
                <elementReference>giftMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftName</name>
            <value>
                <elementReference>giftName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>giftStage</name>
            <value>
                <elementReference>giftStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>giftParentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Organisation</name>
        <label>Create Organisation</label>
        <locationX>148</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <flowName>CreateOrganisation</flowName>
        <inputAssignments>
            <name>organisationCity</name>
            <value>
                <elementReference>organisationCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationName</name>
            <value>
                <elementReference>organisationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationPhone</name>
            <value>
                <elementReference>organisationPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationStreet</name>
            <value>
                <elementReference>organisationStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationWebsite</name>
            <value>
                <elementReference>organisationWebsite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>organisationZIP</name>
            <value>
                <elementReference>organisationZIP</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>organisation</assignToReference>
            <name>organisation</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>1075</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>Create_Ticket</targetReference>
        </connector>
        <flowName>Create_Payment</flowName>
        <inputAssignments>
            <name>donationId</name>
            <value>
                <elementReference>Create_Donation.donation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentFee</name>
            <value>
                <elementReference>paymentFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paypalTransactionId</name>
            <value>
                <elementReference>paypalTransactionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>stripeTransactionId</name>
            <value>
                <elementReference>paymentTransactionId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Recurring</name>
        <label>Create Recurring</label>
        <locationX>734</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>Create_Donation</targetReference>
        </connector>
        <flowName>Create_recurring</flowName>
        <inputAssignments>
            <name>campaign</name>
            <value>
                <elementReference>Create_Campaign.campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>recurringCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserId</name>
            <value>
                <elementReference>recurringCampaignFundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserURL</name>
            <value>
                <elementReference>recurringCampaignFundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CloseDate</name>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>recurringParentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentSubscriptionId</name>
            <value>
                <elementReference>paymentSubscriptionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recurringDonationAmount</name>
            <value>
                <elementReference>recurringDonationAmount</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Ticket</name>
        <label>Create Ticket</label>
        <locationX>1224</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Create_Gift</targetReference>
        </connector>
        <flowName>Create_ticket</flowName>
        <inputAssignments>
            <name>campaign</name>
            <value>
                <elementReference>Create_Campaign.campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignCode</name>
            <value>
                <elementReference>ticketCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserId</name>
            <value>
                <elementReference>ticketCampaignFundraiserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignFundraiserURL</name>
            <value>
                <elementReference>ticketCampaignFundraiserURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CloseDate</name>
            <value>
                <elementReference>ticketCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contact</name>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentCampaignCode</name>
            <value>
                <elementReference>ticketParentCampaignCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketAduitAmount</name>
            <value>
                <elementReference>ticketAduitAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketAmount</name>
            <value>
                <elementReference>ticketAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketChild</name>
            <value>
                <elementReference>ticketChild</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketChildAmount</name>
            <value>
                <elementReference>ticketChildAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketFamily</name>
            <value>
                <elementReference>ticketFamily</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketFamilyAmount</name>
            <value>
                <elementReference>ticketFamilyAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketLocation</name>
            <value>
                <elementReference>ticketLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketsConcession</name>
            <value>
                <elementReference>ticketsConcession</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketsConcessionAmount</name>
            <value>
                <elementReference>ticketsConcessionAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ticketStage</name>
            <value>
                <elementReference>ticketStage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>campaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>donationCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationCampaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationCampaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>donationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>donationParentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </variables>
    <variables>
        <name>fundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>giftAnimalAdoptID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAnimalName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftAnimalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftCampaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftCampaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftClosedate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>giftcontactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftFromName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>giftMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftParentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>giftStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>organisationCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationWebsite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>organisationZIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>paymentSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paypalTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>raceiptNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recurringCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringCampaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringCampaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurringDonationAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recurringId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recurringParentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketAduitAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketCampaignFundraiserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketCampaignFundraiserURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketChild</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketChildAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>ticketFamily</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketFamilyAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ticketLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketParentCampaignCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketsConcession</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketsConcessionAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ticketStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmAdContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmMedium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utmTestVariant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
